body {
    font-family: "Roboto";
}

.header, .container-hero, .footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links, .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.btn-sign-up {
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

