body {
    font-family: "Roboto";
}

.header, .container-hero, .footer {
    background-color: #1f2937;
}

.header {
    font-size: 24px;

}

.btn-sign-up {
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

